/* job_management.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333333f1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 40px;
}

.sidebar a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #ddd;
    color: #333;
}

.sidebar a.active {
    background-color: #ddd;
    color: #333;
}

/* Container styles */
.container {
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* overflow-x: auto; */ /* Remove horizontal scrolling from the container */
    border: 1px solid #ddd;
    max-height: calc(100vh - 100px); /* Set max height to ensure the container doesn't exceed viewport height */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds container height */
}

/* Heading styles */
.container h3 {
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

/* Table styles */
table {
    width: 100%; /* Ensure table fills the container */
    max-width: 100%; /* Limit table width to 100% of the container */
    border-collapse: collapse;
    font-size: 11px;
    margin-top: 20px;
    
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/* Zebra stripe table */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect for table rows */
tbody tr:hover {
    background-color: #ddd;
}

/* Anchor styles */
a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 4px;
}

a:hover {
    background-color: #333;
    color: #fff;
}

/* Style for the filter container */
.filter-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
}

/* Style for the filter label */
.filter-container label {
    margin-right: 10px;
    font-weight: bold;
}

/* Style for the filter input */
.filter-container input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* Adjust the width of the input */
    box-sizing: border-box; /* Include padding and border in width calculation */
    text-align: left; /* Ensure text alignment is left */
}

/* Style for the Download Excel button */
button {
    padding: 10px 20px;
    background-color: #008000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #355E3B;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    .filter-container {
        flex-direction: column; /* Stack label and input vertically */
        align-items: flex-start; /* Align items to start */
    }

    .filter-container label {
        margin-bottom: 5px;
    }

    .filter-container input[type="text"] {
        width: 100%; /* Ensure input spans full width */
    }
}


/* Logo styles */
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* Footer styles */
.footer-container {
    background-color: #3333333a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}