/* home.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Sidebar styles */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #333333f1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 40px;
    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1000; /* Ensure sidebar is above other content */
}

.sidebar a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover, .sidebar a.active {
    background-color: #ddd;
    color: #333;
}

.sidebar.active {
    transform: translateX(-100%);
}

/* Container styles */
.container {
    display: flex;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    margin-left: 210px;
    border: 1px solid #ddd;
    transition: margin-left 0.3s ease;
}

.container.sidebar-active {
    margin-left: 10px;
}

/* Main content styles */
.content-container {
    flex: 1;
    margin-left: 20px;
}

/* Chart container styles */
.chart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 8px;
    padding: 20px;
    background-color: #f2f2f2;
}

.chart-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Slider container styles */
.slider-container {
    margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin-left: 0;
    }

    .sidebar {
        width: 100%;
        position: relative;
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .chart-container {
        grid-template-columns: 1fr;
    }
}

/* Logo styles */
.logo {
    display: block;
    margin: 0 auto;
    width: 20%;
}

/* Anchor styles */
a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 4px;
}

a:hover {
    background-color: #333;
    color: #fff;
}

/* Table styles */
.top-jobs-container {
    margin-top: 20px;
}

.top-jobs-table {
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
    margin-top: 10px;
}

.top-jobs-table th, .top-jobs-table td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: left;
}

.top-jobs-table th {
    background-color: #333;
    color: #fff;
}

.top-jobs-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.top-jobs-table tr:hover {
    background-color: #ddd;
}

.top-jobs-table th, .top-jobs-table td {
    border-radius: 8px;
}

.top-jobs-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
}

/* Header styles */
.header-container {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

/* Footer styles */
.footer-container {
    background-color: #3333333a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
