/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Sidebar styles */
.sidebar {
    width: 200px; /* Adjust width as needed */
    height: 100%; /* Full height of the viewport */
    background-color: #333;
    position: fixed; /* Fixed positioning */
    top: 0;
    left: 0;
    overflow-y: auto; /* Allow vertical scrolling if needed */
    padding-top: 40px;
}

.sidebar a {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
    background-color: #ddd;
    color: #333;
}

.sidebar a.active {
    background-color: #ddd;
    color: #333;
}

/* Container styles */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-gap: 20px; /* Spacing between grid items */
    /* width: 100%; /* Adjust width as needed */
    margin: 50px auto; /* Center the container vertically and horizontally */
    background-color: #fff; /* Background color for the container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    padding: 20px;
    margin-left: 210px;
    text-align: left; /* Align text to the left */
    overflow-x: hidden; /* Hide horizontal overflow */
    padding: 20px; /* Example padding, adjust as needed */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
}

hr {
    width: 100%;
}

/* Chart canvas styles */
.chart-container {
    width: 100%; /* Full width within the grid cell */
    height: auto; /* Allow container height to adjust based on content */
}

.chart-container canvas {
    width: 50%; /* Full width within the chart container */
    height: auto; /* Allow canvas height to adjust based on width */
}

/* Logo styles */
.logo {
    width:50%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    /* display: block; /* Make the image a block element for centering */
    margin-left: 60%;
}
    

/* Anchor styles */
a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 4px;
}

a:hover {
    background-color: #333;
    color: #fff;
}