<!--aftersales_management.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengurusan Aftersales</title>
    <link rel="stylesheet" href="../static/styles/aftersales_management.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="../static/scripts/filter_aftersales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
</head>
<body>
    <div class="container">
        <nav class="sidebar" role="navigation">
            <a href="{{ url_for('home') }}">Halaman Utama</a>
            <a href="{{ url_for('show_aftersales_management') }}" class="active">Aftersales</a>
            <a href="{{ url_for('show_aftersales_form') }}">Borang Aftersales</a>
            <a href="{{ url_for('show_job_management') }}">Tugas</a>
            <a href="{{ url_for('show_job_form') }}">Borang Tugas</a>
            <a href="{{ url_for('show_staff_profile') }}">Profil</a>
            <a href="#" onclick="confirmLogout()">Log Keluar</a>
        </nav>
        <main class="content-container">
            <img src="../static/images/wgk1.png" alt="Global Komited Sdn Bhd Logo" class="logo">
            <div class="content">
                <h3>Rekod Aftersales</h3>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for category, message in messages %}
                                <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="flash-messages"></ul>
                    {% endif %}
                {% endwith %}
                <br>
                <button id="exportButton">Muat Turun Rekod Aftersales</button>
                <hr>       
                <!-- Display existing Aftersales records -->
                <table id="aftersalesTable" class="aftersalesTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="jobNo">Job No</th>
                            <th class="endUser">Nama Pengguna</th>
                            <th class="bodyType">Kod Badan Dan Kenderaan</th>
                            <th class="chassisType">Buatan Chassis</th>
                            <th class="chassisModel">Model Chassis</th>
                            <th class="chassisNo">No. Chassis</th>
                            <th class="engineNo">No. Engine</th>
                            <th class="registrationNo">No. Pendaftaran Kenderaan</th>
                            <th class="stateLocality">Penempatan Kenderaan</th>
                            <th class="detailLocality">Butiran Penempatan Kenderaan</th>
                            <th class="chassisMileageWarranty">Waranti Chassis(KM)</th>
                            <th class="chassisPeriodWarranty">Tempoh Waranti Chasis(Tahun)</th>
                            <th class="chassisExpired">Tarikh Tamat Waranti(Chassis)</th>
                            <th class="bodyPeriodWarranty">Tempoh Waranti Badan(Tahun)</th>
                            <th class="bodyExpired">Tarikh Tamat Waranti(Badan)</th>
                            <th class="noService">Servis Percuma(Bil)</th>
                            <th class="mileageService">Servis Percuma(KM)</th>
                            <th class="custPhone">No. Tel Pelanggan</th>
                            <th class="custEmail">Emel Pelanggan</th>
                            <th class="notes">Nota</th>
                            <th class="action">Actions</th>
                            <th class="action"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aftersales in aftersales_data %}
                        <tr>
                            <td class="rowCount">{{ loop.index }}</td>
                            <td class="jobNo">{{ aftersales.jobNo }}</td>
                            <td class="endUser">{{ aftersales.endUser }}</td>
                            <td class="bodyType">{{ aftersales.bodyType }}</td>
                            <td class="chassisType">{{ aftersales.chassisType }}</td>
                            <td class="chassisModel">{{ aftersales.chassisModel }}</td>
                            <td class="chassisNo">{{ aftersales.chassisNo }}</td>
                            <td class="engineNo">{{ aftersales.engineNo }}</td>
                            <td class="registrationNo">{{ aftersales.registrationNo }}</td>
                            <td class="stateLocality">{{ aftersales.stateLocality }}</td>
                            <td class="detailLocality">{{ aftersales.detailLocality }}</td>
                            <td class="chassisMileageWarranty">{{ aftersales.chassisMileageWarranty }}</td>
                            <td class="chassisPeriodWarranty">{{ aftersales.chassisPeriodWarranty }}</td>
                            <td class="chassisExpired">{{ aftersales.chassisExpired }}</td>
                            <td class="bodyPeriodWarranty">{{ aftersales.bodyPeriodWarranty }}</td>
                            <td class="bodyExpired">{{ aftersales.bodyExpired }}</td>
                            <td class="noService">{{ aftersales.noService }}</td>
                            <td class="mileageService">{{ aftersales.mileageService }}</td>
                            <td class="custPhone">{{ aftersales.custPhone }}</td>
                            <td class="custEmail">{{ aftersales.custEmail }}</td>
                            <td class="notes">{{ aftersales.notes }}</td>
                            <td class="action">
                                <div class="action-button edit-button">
                                    <a href="{{ url_for('update_aftersales_route', registrationNo=aftersales.registrationNo) }}">Edit</a>
                                </div>
                            </td>
                            <td>
                                <div class="action-button delete-button">
                                    <a href="#" onclick="confirmDelete('{{ aftersales.registrationNo }}')">Padam</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br><br>
                <hr>
            </div>
        </main>
    </div>
    <br><br>
    <script>
        function confirmLogout() {
            if (confirm("Adakah anda pasti ingin log keluar?")) {
                window.location.href = "{{ url_for('logout') }}";
            }
        }

        function confirmDelete(registrationNo) {
            if (confirm("Adakah anda pasti ingin memadam rekod Aftersales ini?")) {
                const url = `/delete_aftersales/${registrationNo}`;
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Reload the page to show updated data and flash message
                        window.location.reload();
                    } else {
                        // Display flash message without reloading the page
                        displayFlashMessage(data.message, 'error');
                    }
                })
                .catch(error => {
                    console.error('Error deleting aftersales record:', error);
                    displayFlashMessage('Gagal memadam rekod Aftersales. Sila cuba lagi.', 'error');
                });
            }
        }

        function displayFlashMessage(message, category) {
            const flashMessages = document.querySelector('.flash-messages');
            const newMessage = document.createElement('li');
            newMessage.className = category;
            newMessage.textContent = message;
            flashMessages.appendChild(newMessage);

            // Automatically remove the flash message after a few seconds
            setTimeout(() => {
                newMessage.remove();
            }, 2000);
        }

        // Custom sorting function for jobNo
        jQuery.fn.dataTable.ext.type.order['jobNo-pre'] = function (d) {
            return parseInt(d.replace(/\D/g, ''), 10); // Remove any non-numeric characters and parse as integer
        };

        $(document).ready(function() {
            const table = $('#aftersalesTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "columnDefs": [
                    { "type": "jobNo", "targets": 1 } // Apply custom sorting to the Job No column
                ],
                "rowCallback": function(row, data, index) {
                    // Re-order the row numbering
                    $('td:eq(0)', row).html(index + 1);
                }
            });

            $('#filterInput').on('keyup', function() {
                table.search(this.value).draw();
            });

            $('#exportButton').on('click', function() {
                exportToExcel();
            });
        });

        function exportToExcel() {
            const table = document.getElementById('aftersalesTable');
            const ws = XLSX.utils.table_to_sheet(table);
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, 'aftersales_data.xlsx');
        }
    </script>
</body>
</html>
 