<!--aftersales_management.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekod Aftersales</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li class="{% if request.endpoint == 'select_page' %}active{% endif %}">
                <a href="{{ url_for('select_page') }}">
                    <i class="fas fa-arrow-left"></i> Halaman Utama
                </a>
            </li>
            <li class="{% if request.endpoint == 'aftersales_home' %}active{% endif %}">
                <a href="{{ url_for('aftersales_home') }}">
                    <i class="fas fa-home"></i> Projek Keseluruhan
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_job_management' %}active{% endif %}">
                <a href="{{ url_for('show_job_management') }}">
                    <i class="fas fa-tasks"></i> Senarai Rekod Jualan
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_job_form' %}active{% endif %}">
                <a href="{{ url_for('show_job_form') }}">
                    <i class="fas fa-clipboard-list"></i> Butiran Rekod Jualan
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_aftersales_management' %}active{% endif %}">
                <a href="{{ url_for('show_aftersales_management') }}">
                    <i class="fas fa-tools"></i> Senarai Rekod Aftersales
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_aftersales_form' %}active{% endif %}">
                <a href="{{ url_for('show_aftersales_form') }}">
                    <i class="fas fa-file-alt"></i> Butiran Rekod Aftersales
                </a>
            </li>
        </ul>
    </nav>
    
    <header role="banner">
        <h2>Rekod Aftersales</h2>
    </header>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <button onclick="exportTableToExcel('aftersalesTable.xlsx')">Muat Turun Rekod Aftersales</button><br><br>
    <div class="table-container">
        <!-- Display existing Aftersales records -->
        <table id="aftersalesTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>No. Pendaftaran Kenderaan</th>
                    <th>Nama Pengguna</th>
                    <th>Kod Badan & Kenderaan</th>
                    <th>Buatan Chassis</th>
                    <th>Model Chassis</th>
                    <th>No. Chassis</th>
                    <th>No. Enjin</th>
                    <th>Tarikh Penghantaran</th>
                    <th>Penempatan Kenderaan</th>
                    <th>Butiran Penempatan</th>
                    <th>Waranti Chassis(KM)</th>
                    <th>Tempoh Waranti Chasis(Tahun)</th>
                    <th>Tarikh Tamat Waranti(Chassis)</th>
                    <th>Tempoh Waranti Badan(Tahun)</th>
                    <th>Tarikh Tamat Waranti(Badan)</th>
                    <th>No. Tel Pelanggan</th>
                    <th>Emel Pelanggan</th>
                    <th>Nota</th>
                    <th>Job No</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for aftersales in aftersales_data %}
                    <tr>
                        <td></td>
                        <td class="table-center-align">{{ aftersales.registrationNo }}</td>
                        <td class="table-left-align">{{ aftersales.endUser }}</td>
                        <td class="table-left-align">{{ aftersales.bodyType }}</td>
                        <td class="table-left-align">{{ aftersales.chassisType }}</td>
                        <td class="table-left-align">{{ aftersales.chassisModel }}</td>
                        <td class="table-left-align">{{ aftersales.chassisNo }}</td>
                        <td class="table-left-align">{{ aftersales.engineNo }}</td>
                        <td class="table-right-align">{{ aftersales.dateDelivered }}</td>
                        <td class="table-left-align">{{ aftersales.stateLocality }}</td>
                        <td class="table-left-align">{{ aftersales.detailLocality }}</td>
                        <td class="table-right-align">{{ aftersales.chassisMileageWarranty }}</td>
                        <td class="table-center-align">{{ aftersales.chassisPeriodWarranty }}</td>
                        <td class="table-right-align">{{ aftersales.chassisExpired }}</td>
                        <td class="table-center-align">{{ aftersales.bodyPeriodWarranty }}</td>
                        <td class="table-right-align">{{ aftersales.bodyExpired }}</td>
                        <td class="table-left-align">{{ aftersales.custPhone }}</td>
                        <td class="table-left-align">{{ aftersales.custEmail }}</td>
                        <td class="table-left-align">{{ aftersales.notes }}</td>
                        <td class="table-right-align">{{ aftersales.jobNo }}</td>
                        <td class="table-left-align">
                            <a href="{{ url_for('update_aftersales_route', registrationNo=aftersales.registrationNo) }}">Kemaskini</a>
                            <a href="#" onclick="confirmDelete('{{ aftersales.registrationNo }}')">Padam</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>     
</body>
<script>
    $(document).ready(function() {
            $('#aftersalesTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "columnDefs": [
                    { "targets": [0], "orderable": false }, // Disable ordering on first and second columns
                    { "type": "currency", "targets": [7, 8, 9, 10] } // Apply currency sorting to specific columns
                ],
                "rowCallback": function(row, data, index) {
                    $('td:eq(0)', row).html(index + 1); // Re-order the row numbering
                }
            });
        });


    function confirmLogout() {
        if (confirm("Adakah anda pasti ingin log keluar?")) {
            window.location.href = "{{ url_for('logout') }}";
        }
    }

    function confirmDelete(registrationNo) {
        if (confirm("Adakah anda pasti ingin memadam rekod Aftersales ini?")) {
            const url = `/delete_aftersales/${registrationNo}`;
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Reload the page to show updated data and flash message
                    window.location.reload();
                } else {
                    // Display flash message without reloading the page
                    displayFlashMessage(data.message, 'error');
                }
            })
            .catch(error => {
                console.error('Error deleting aftersales record:', error);
                displayFlashMessage('Gagal memadam rekod Aftersales. Sila cuba lagi.', 'error');
            });
        }
    }

    function displayFlashMessage(message, category) {
        const flashMessages = document.querySelector('.flash-messages');
        const newMessage = document.createElement('li');
        newMessage.className = category;
        newMessage.textContent = message;
        flashMessages.appendChild(newMessage);

        // Automatically remove the flash message after a few seconds
        setTimeout(() => {
            newMessage.remove();
        }, 2000);
    }

    function exportTableToExcel(filename) {
        const table = document.getElementById('aftersalesTable');
        const ws = XLSX.utils.table_to_sheet(table);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
        XLSX.writeFile(wb, filename);
    }
</script>
</html>
