<!--combined_view.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengurusan Tugas dan Aftersales</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li class="{% if request.endpoint == 'select_page' %}active{% endif %}">
                <a href="{{ url_for('select_page') }}">
                    <i class="fas fa-arrow-left"></i> Halaman Utama
                </a>
            </li>
            <li class="{% if request.endpoint == 'aftersales_home' %}active{% endif %}">
                <a href="{{ url_for('aftersales_home') }}">
                    <i class="fas fa-home"></i> Projek Keseluruhan
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_job_management' %}active{% endif %}">
                <a href="{{ url_for('show_job_management') }}">
                    <i class="fas fa-tasks"></i> Tugas
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_job_form' %}active{% endif %}">
                <a href="{{ url_for('show_job_form') }}">
                    <i class="fas fa-clipboard-list"></i> Borang Tugas
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_aftersales_management' %}active{% endif %}">
                <a href="{{ url_for('show_aftersales_management') }}">
                    <i class="fas fa-tools"></i> Aftersales
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_aftersales_form' %}active{% endif %}">
                <a href="{{ url_for('show_aftersales_form') }}">
                    <i class="fas fa-file-alt"></i> Borang Aftersales
                </a>
            </li>
        </ul>
    </nav>
    
    <header role="banner">
        <h2>Rekod Tugas dan Aftersales</h2>
    </header>
    <a href="{{ url_for('aftersales_home') }}">Kembali ke Halaman Utama</a><br><br>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <button onclick="exportToExcel()">Muat Turun Rekod Tugas dan Aftersales</button><br><br>
    <div class="table-container">
        <!-- Display existing Job and Aftersales records -->
        <table id="jobTable">
            <thead>
                <tr>
                    <th>#</th> <!-- Count column -->
                    <th class="jobNo">Job No</th>
                    <th class="title">Tajuk</th>
                    <th class="custName">Nama Pelanggan</th>
                    <th class="endUser">Nama Pengguna</th>
                    <th class="vehicleType">Jenis Kenderaan</th>
                    <th class="registrationNo">No Pendaftaran</th>
                    <th class="bodyType">Jenis Badan</th>
                    <th class="chassisType">Jenis Chassis</th>
                    <th class="chassisModel">Model Chassis</th>
                    <th class="chassisNo">No Chassis</th>
                    <th class="engineNo">No Enjin</th>
                    <th class="dateDelivered">Tarikh Penghantaran</th>
                    <th class="stateLocality">Penempatan Kenderaan</th>
                    <th class="detailLocality">Butiran Penempatan Kenderaan</th>
                    <th class="chassisMileageWarranty">Warranty Chassis(KM)</th>
                    <th class="chassisPeriodWarranty">Warranty Chassis(Tahun)</th>
                    <th class="chassisExpired">Tarikh Tamat Waranti(Chassis)</th>
                    <th class="bodyPeriodWarranty">Tempoh Waranti Badan(Tahun)</th>
                    <th class="bodyExpired">Tarikh Tamat Waranti(Badan)</th>
                    <th class="noService">Servis Percuma(Bil)</th>
                    <th class="mileageService">Servis Percuma(KM)</th>
                    <th class="custPhone">No. Tel Pelanggan</th>
                    <th class="custEmail">Emel Pelanggan</th>
                    <th class="notes">Nota</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                    {% if job.aftersales %}
                        {% for aftersales in job.aftersales %}
                        <tr>
                            <td class="table-center-align rowCount">{{ loop.index }}</td>
                            <td class="table-right-align jobNo">{{ job.jobNo }}</td>
                            <td class="table-left-align title">{{ job.title }}</td>
                            <td class="table-left-align custName">{{ job.custName }}</td>
                            <td class="table-left-align endUser">{{ aftersales.endUser }}</td>
                            <td class="table-left-align vehicleType">{{ job.vehicleType }}</td>
                            <td class="table-center-align registrationNo">{{ aftersales.registrationNo }}</td>
                            <td class="table-left-align bodyType">{{ aftersales.bodyType }}</td>
                            <td class="table-left-align chassisType">{{ aftersales.chassisType }}</td>
                            <td class="table-left-align chassisModel">{{ aftersales.chassisModel }}</td>
                            <td class="table-left-align chassisNo">{{ aftersales.chassisNo }}</td>
                            <td class="table-left-align engineNo">{{ aftersales.engineNo }}</td>
                            <td class="table-right-align dateDelivered">{{ aftersales.dateDelivered }}</td>
                            <td class="table-left-align stateLocality">{{ aftersales.stateLocality }}</td>
                            <td class="table-left-align detailLocality">{{ aftersales.detailLocality }}</td>
                            <td class="table-right-align chassisMileageWarranty">{{ aftersales.chassisMileageWarranty }}</td>
                            <td class="table-center-align chassisPeriodWarranty">{{ aftersales.chassisPeriodWarranty }}</td>
                            <td class="table-right-align chassisExpired">{{ aftersales.chassisExpired }}</td>
                            <td class="table-center-align bodyPeriodWarranty">{{ aftersales.bodyPeriodWarranty }}</td>
                            <td class="table-right-align bodyExpired">{{ aftersales.bodyExpired }}</td>
                            <td class="table-center-align noService">{{ aftersales.noService }}</td>
                            <td class="table-right-align mileageService">{{ aftersales.mileageService }}</td>
                            <td class="table-left-align custPhone">{{ aftersales.custPhone }}</td>
                            <td class="table-left-align custEmail">{{ aftersales.custEmail }}</td>
                            <td class="table-left-align notes">{{ aftersales.notes }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td class="table-center-align rowCount">{{ loop.index }}</td>
                            <td class="table-right-align jobNo">{{ job.jobNo }}</td>
                            <td class="table-left-align title">{{ job.title }}</td>
                            <td class="table-left-align custName">{{ job.custName }}</td>
                            <td class="table-center-align endUser">-</td>
                            <td class="table-left-align vehicleType">{{ job.vehicleType }}</td>
                            <td class="table-center-align registrationNo">-</td>
                            <td class="table-center-align bodyType">-</td>
                            <td class="table-center-align chassisType">-</td>
                            <td class="table-center-align chassisModel">-</td>
                            <td class="table-center-align chassisNo">-</td>
                            <td class="table-center-align engineNo">-</td>
                            <td class="table-center-align dateDelivered">-</td>
                            <td class="table-center-align stateLocality">-</td>
                            <td class="table-center-align detailLocality">-</td>
                            <td class="table-center-align chassisMileageWarranty">-</td>
                            <td class="table-center-align chassisPeriodWarranty">-</td>
                            <td class="table-center-align chassisExpired">-</td>
                            <td class="table-center-align bodyPeriodWarranty">-</td>
                            <td class="table-center-align bodyExpired">-</td>
                            <td class="table-center-align noService">-</td>
                            <td class="table-center-align mileageService">-</td>
                            <td class="table-left-align custPhone">{{ job.custPhone }}</td>
                            <td class="table-left-align custEmail">{{ job.custEmail }}</td>
                            <td class="table-left-align notes">{{ job.notes }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
    // Custom sorting function for jobNo
    jQuery.fn.dataTable.ext.type.order['jobNo-pre'] = function (d) {
        return parseInt(d.replace(/\D/g, ''), 10); // Remove any non-numeric characters and parse as integer
    };

    $(document).ready(function() {
        const table = $('#jobTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            "columnDefs": [
                { "type": "jobNo", "targets": 1 } // Apply custom sorting to the Job No column
            ],
            "rowCallback": function(row, data, index) {
                $('td:eq(0)', row).html(index + 1);
            }
        });

        $('#filterInput').on('keyup', function() {
            table.search(this.value).draw();
        });
    });

    function exportToExcel() {
        const table = document.getElementById('jobTable');
        const ws = XLSX.utils.table_to_sheet(table);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
        XLSX.writeFile(wb, 'job_aftersales_data.xlsx');
    }
</script>
</html>
