<!-- job.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borang Tugas</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="../static/scripts/job_calculation.js"></script>
</head>
<body>
    <!-- Navigation --> 
    <nav>
        <ul>
            <li class="{% if request.endpoint == 'aftersales_home' %}active{% endif %}"><a href="{{ url_for('aftersales_home') }}">Halaman Utama</a></li>
            <li class="{% if request.endpoint == 'show_aftersales_management' %}active{% endif %}"><a href="{{ url_for('show_aftersales_management') }}">Aftersales</a></li>
            <li class="{% if request.endpoint == 'show_aftersales_form' %}active{% endif %}"><a href="{{ url_for('show_aftersales_form') }}">Borang Aftersales</a></li>
            <li class="{% if request.endpoint == 'show_job_management' %}active{% endif %}"><a href="{{ url_for('show_job_management') }}">Tugas</a></li>
            <li class="{% if request.endpoint == 'show_job_form' %}active{% endif %}"><a href="{{ url_for('show_job_form') }}">Borang Tugas</a></li>
            <li class="{% if request.endpoint == 'select_page' %}active{% endif %}"><a href="{{ url_for('select_page') }}">Kembali</a></li>
        </ul>
    </nav>  
    <form action="/submit_job_form" method="post" onsubmit="return confirmSubmit()">
        <h3>Borang Tugas</h3>
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}   
        <!-- Job form fields here -->
        <label for="jobNo">Job No:</label>
        <input type="text" id="jobNo" name="jobNo" placeholder="Masukkan Job No: 100..." required>                

        <label for="title">Tajuk:</label>
        <input type="text" id="title" name="title" placeholder="Masukkan Tajuk..." required><br>
        
        <label for="custName">Nama Pelanggan:</label>
        <input type="text" id="custName" name="custName" list="customerList" placeholder="Pilih atau Masukkan Nama Pelanggan..." required>
        <datalist id="customerList">
            <!-- Dynamic options for customer names -->
            <option value="JABATAN PERDANA MENTERI (JPM)" data-calc="">JABATAN PERDANA MENTERI (JPM)</option>
            <option value="KEMENTERIAN KEWANGAN (MOF)" data-calc="">KEMENTERIAN KEWANGAN (MOF)</option>
            <option value="KEMENTERIAN KEMAJUAN DESA DAN WILAYAH (KKDW)" data-calc="">KEMENTERIAN KEMAJUAN DESA DAN WILAYAH (KKDW)</option>
            <option value="KEMENTERIAN PERUSAHAAN PERLADANGAN DAN KOMODITI (MPIC)" data-calc="">KEMENTERIAN PERUSAHAAN PERLADANGAN DAN KOMODITI (MPIC)</option>
            <option value="KEMENTERIAN PENGANGKUTAN (MOT)" data-calc="">KEMENTERIAN PENGANGKUTAN (MOT)</option>
            <option value="KEMENTERIAN PERTANIAN DAN INDUSTRI MAKANAN (MAFS)" data-calc="">KEMENTERIAN PERTANIAN DAN INDUSTRI MAKANAN (MAFS)</option>
            <option value="KEMENTERIAN EKONOMI" data-calc="">KEMENTERIAN EKONOMI</option>
            <option value="KEMENTERIAN PERUMAHAN DAN KERAJAAN TEMPATAN (KPKT)" data-calc="">KEMENTERIAN PERUMAHAN DAN KERAJAAN TEMPATAN (KPKT)</option>
            <option value="KEMENTERIAN PERTAHANAN (MINDEF)" data-calc="">KEMENTERIAN PERTAHANAN (MINDEF)</option>
            <option value="KEMENTERIAN KERJA RAYA (KKR)" data-calc="">KEMENTERIAN KERJA RAYA (KKR)</option>
            <option value="KEMENTERIAN DALAM NEGERI (KDN)" data-calc="">KEMENTERIAN DALAM NEGERI (KDN)</option>
            <option value="KEMENTERIAN PERDAGANGAN ANTARABANGSA DAN INDUSTRI (MITI)" data-calc="">KEMENTERIAN PERDAGANGAN ANTARABANGSA DAN INDUSTRI (MITI)</option>
            <option value="KEMENTERIAN PENDIDIKAN TINGGI (KPT)" data-calc="">KEMENTERIAN PENDIDIKAN TINGGI (KPT)</option>
            <option value="KEMENTERIAN SAINS, TEKNOLOGI DAN INOVASI (MOSTI)" data-calc="">KEMENTERIAN SAINS, TEKNOLOGI DAN INOVASI (MOSTI)</option>
            <option value="KEMENTERIAN PEMBANGUNAN WANITA, KELUARGA DAN MASYARAKAT (KPWKM)" data-calc="">KEMENTERIAN PEMBANGUNAN WANITA, KELUARGA DAN MASYARAKAT (KPWKM)</option>
            <option value="KEMENTERIAN PERDAGANGAN DALAM NEGERI DAN KOS SARA HIDUP (KPDN)" data-calc="">KEMENTERIAN PERDAGANGAN DALAM NEGERI DAN KOS SARA HIDUP (KPDN)</option>
            <option value="KEMENTERIAN SUMBER ASLI, ALAM SEKITAR DAN PERUBAHAN IKLIM (NRECC)" data-calc="">KEMENTERIAN SUMBER ASLI, ALAM SEKITAR DAN PERUBAHAN IKLIM (NRECC)</option>
            <option value="KEMENTERIAN PEMBANGUNAN USAHAWAN DAN KOPERASI (KUSKOP)" data-calc="">KEMENTERIAN PEMBANGUNAN USAHAWAN DAN KOPERASI (KUSKOP)</option>
            <option value="KEMENTERIAN LUAR NEGERI (KLN)" data-calc="">KEMENTERIAN LUAR NEGERI (KLN)</option>
            <option value="KEMENTERIAN PELANCONGAN, SENI DAN BUDAYA (MOTAC)" data-calc="">KEMENTERIAN PELANCONGAN, SENI DAN BUDAYA (MOTAC)</option>
            <option value="KEMENTERIAN PENDIDIKAN MALAYSIA (KPM)" data-calc="">KEMENTERIAN PENDIDIKAN MALAYSIA (KPM)</option>
            <option value="KEMENTERIAN PERPADUAN NEGARA (KPN)" data-calc="">KEMENTERIAN PERPADUAN NEGARA (KPN)</option>
            <option value="KEMENTERIAN BELIA DAN SUKAN (KBS)" data-calc="">KEMENTERIAN BELIA DAN SUKAN (KBS)</option>
            <option value="KEMENTERIAN SUMBER MANUSIA (KSM)" data-calc="">KEMENTERIAN SUMBER MANUSIA (KSM)</option>
            <option value="KEMENTERIAN KESIHATAN MALAYSIA (KKM)" data-calc="">KEMENTERIAN KESIHATAN MALAYSIA (KKM)</option>
            <!-- Add dynamic options here -->
            {% for customer in customers %}
                <option value="{{ customer }}">{{ customer }}</option>
            {% endfor %}
        </datalist><br>
        
        <label for="vehicleType">Jenis Kenderaan:</label>
        <input type="text" id="vehicleType" name="vehicleType" list="vehicleList" placeholder="Pilih atau Masukkan Jenis Kenderaan..." required>
        <datalist id="vehicleList">
            <!-- Dynamic options for vehicle types -->
            <option value="BAS">BAS</option>
            <option value="KERETA">KERETA</option>
            <option value="GKMK1">GKMK1</option>
            <option value="GKMK2">GKMK2</option>
            <option value="KENDERAAN KHAS">KENDERAAN KHAS</option>
            <option value="LORI">LORI</option>
            <option value="MOTOSIKAL">MOTOSIKAL</option>
            <option value="PICKUP 4x4">PICKUP 4x4</option>
            <option value="VAN">VAN</option>
            {% for vehicle_type in vehicle_types %}
                <option value="{{ vehicle_type }}">{{ vehicle_type }}</option>
            {% endfor %}
        </datalist><br>
        
        <label for="quantity">Kuantiti:</label>
        <input type="number" id="quantity" name="quantity" step="0.01" min="0" max="10000" placeholder="0" required><br>
        
        <label for="dateReceived">Tarikh SST:</label>
        <input type="date" id="dateReceived" name="dateReceived" required><br>

        <label for="salesUnit">Unit Jualan (RM):</label>
        <input type="number" id="salesUnit" name="salesUnit" step="0.01" min="0" placeholder="0.00" required><br>
        
        <label for="totalSales">Jumlah Jualan (RM):</label>
        <input type="number" id="totalSales" name="totalSales" step="0.01" min="0" placeholder="0.00" required ><br>
        
        <label for="profitUnit">Unit Keuntungan (RM):</label>
        <input type="number" id="profitUnit" name="profitUnit" step="0.01" min="0" placeholder="0.00" required><br>
        
        <label for="totalProfit">Jumlah Keuntungan (RM):</label>
        <input type="number" id="totalProfit" name="totalProfit" step="0.01" min="0" placeholder="0.00" required readonly><br>
        
        <label for="marginProfit">Margin Keuntungan (%):</label>
        <input type="number" id="marginProfit" name="marginProfit" step="0.01" min="0" placeholder="0.00" required readonly><br>

        <label for="jobDateDelivered">Tarikh Penghantaran:</label>
        <input type="date" id="jobDateDelivered" name="jobDateDelivered" required><br>
        
        <!-- Include staffID as a hidden input field -->
        <label for="staffID">Staff ID: </label>
        <input type="text" id="staffID" name="staffID" value="{{ session['staff_id'] }}" readonly><br>

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
<script>
    // JavaScript functions here
    function confirmSubmit() {
        var confirmation = confirm("Adakah anda pasti ingin hantar tugas ini?");
        return confirmation;
    }

    function confirmLogout() {
        if (confirm("Adakah anda pasti ingin log keluar?")) {
            window.location.href = "{{ url_for('logout') }}";
        }
    }  

    function validateJobNo() {
        var jobNoInput = document.getElementById("jobNo").value;
        if (jobNoInput.trim() === '' || isNaN(jobNoInput)) {
            alert("Sila masukkan nombor Job yang sah.");
            return false;
        }
        return true;
    }
</script>
</html>