<!-- login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Masuk Pengguna</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <!-- Header -->
    <header role="banner">
        <h2>Log Masuk</h2>
    </header>
    <form id="loginForm" action="/" method="post">
            <img src="../static/images/wgk1.png" alt="Logo Global Komited Sdn Bhd" class="logo">
            <!-- Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}<br>
            <label for="staffID">Employee No:</label>
            <input type="text" id="staffID" name="staffID" placeholder="GSK001..." required><br>
            
            <label for="password">Kata Laluan:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Masukkan Kata Laluan..." required>
                <input type="checkbox" id="togglePassword"> Papar Kata Laluan
            </div><br>
            
            <button type="submit">Log Masuk</button>
            <p>Tiada akaun? <a href="{{ url_for('show_staff_registration_form') }}">Daftar</a>.</p>
    </form>
    <!-- Footer -->
</body>
<script>
    // Disable browser back button to prevent access to cached pages after logout
    window.history.replaceState(null, "", window.location.href);
    window.addEventListener("popstate", function() {
        window.history.replaceState(null, "", window.location.href);
    });

    document.addEventListener('DOMContentLoaded', function() {
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('change', function() {
            const isChecked = this.checked;
            password.type = isChecked ? 'text' : 'password';
        });
    });
</script>
</html>
