<!-- sales_form.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borang Jualan & Pemasaran</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../static/scripts/sales_calculation.js" defer></script>
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li class="{% if request.endpoint == 'select_page' %}active{% endif %}">
                <a href="{{ url_for('select_page') }}">
                    <i class="fas fa-arrow-left"></i> Halaman Utama
                </a>
            </li>
            <li class="{% if request.endpoint == 'sales_marketing_home' %}active{% endif %}">
                <a href="{{ url_for('sales_marketing_home') }}">
                    <i class="fas fa-home"></i> Jualan & Pemasaran
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_sales_form' %}active{% endif %}">
                <a href="{{ url_for('show_sales_form') }}">
                    <i class="fas fa-file-alt"></i> Borang Jualan & Pemasaran
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_sales_list' %}active{% endif %}">
                <a href="{{ url_for('show_sales_list') }}">
                    <i class="fas fa-list"></i> Senarai Jualan & Pemasaran
                </a>
            </li>
        </ul>
    </nav>
    <!-- Header -->
    <header role="banner">
        <h2>Jualan & Pemasaran</h2>
    </header>
    <form action="{{ url_for('submit_sales_form') }}" method="post">
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- Form Fields -->
               
        <label for="salesPerson">PIC/Jabatan:</label>
        <input type="text" id="salesPerson" name="salesPerson" list="salesPersonList" placeholder="Pilih atau Masukkan Nama PIC..." required>
        <datalist id="salesPersonList">
            <!-- Dynamic options for customer names -->
            <option value="SPECIAL PROJECT" data-calc="">SPECIAL PROJECT</option>
            <option value="YUSRI ISMAIL" data-calc="">YUSRI ISMAIL</option>
            <option value="SYED NAFIS" data-calc="">SYED NAFIS</option>
            <option value="AHMAD FAIRUZ AZMAN" data-calc="">AHMAD FAIRUZ AZMAN</option>
            <option value="WAN RASHID" data-calc="">WAN RASHID</option>
            <option value="SAIFUL AZRIN" data-calc="">SAIFUL AZRIN</option>
            <!-- Add dynamic options here -->
            {% for salesPerson in salesPersons %}
                <option value="{{ salesPerson }}">{{ salesPerson }}</option>
            {% endfor %}
        </datalist><br>
        
        <label for="purchaseMethod">Kaedah Pembelian</label>
        <input type="text" id="purchaseMethod" name="purchaseMethod" list="purchaseMethodList" placeholder="Kaedah Pembelian..." required>
        <datalist id="purchaseMethodList">
            <!-- Dynamic options for customer names -->
            <option value="TENDER" data-calc="">TENDER</option>
            <option value="DIRECT NEGO" data-calc="">DIRECT NEGO</option>
            <!-- Add dynamic options here -->
            {% for salesPerson in salesPersons %}
                <option value="{{ salesPerson }}">{{ salesPerson }}</option>
            {% endfor %}
        </datalist><br>       

        <label for="tenderTitle">Tajuk Tender</label>
        <input type="text" id="tenderTitle" name="tenderTitle" placeholder="Masukkan Tajuk Tender..." required>
    
        <label for="custName">Nama Pelanggan:</label>
        <input type="text" id="custName" name="custName" list="customerList" placeholder="Pilih atau Masukkan Nama Pelanggan..." required>
        <datalist id="customerList">
            <!-- Dynamic options for customer names -->
            <option value="JABATAN PERDANA MENTERI (JPM)" data-calc="">JABATAN PERDANA MENTERI (JPM)</option>
            <option value="KEMENTERIAN KEWANGAN (MOF)" data-calc="">KEMENTERIAN KEWANGAN (MOF)</option>
            <option value="KEMENTERIAN KEMAJUAN DESA DAN WILAYAH (KKDW)" data-calc="">KEMENTERIAN KEMAJUAN DESA DAN WILAYAH (KKDW)</option>
            <option value="KEMENTERIAN PERUSAHAAN PERLADANGAN DAN KOMODITI (MPIC)" data-calc="">KEMENTERIAN PERUSAHAAN PERLADANGAN DAN KOMODITI (MPIC)</option>
            <option value="KEMENTERIAN PENGANGKUTAN (MOT)" data-calc="">KEMENTERIAN PENGANGKUTAN (MOT)</option>
            <option value="KEMENTERIAN PERTANIAN DAN INDUSTRI MAKANAN (MAFS)" data-calc="">KEMENTERIAN PERTANIAN DAN INDUSTRI MAKANAN (MAFS)</option>
            <option value="KEMENTERIAN EKONOMI" data-calc="">KEMENTERIAN EKONOMI</option>
            <option value="KEMENTERIAN PERUMAHAN DAN KERAJAAN TEMPATAN (KPKT)" data-calc="">KEMENTERIAN PERUMAHAN DAN KERAJAAN TEMPATAN (KPKT)</option>
            <option value="KEMENTERIAN PERTAHANAN (MINDEF)" data-calc="">KEMENTERIAN PERTAHANAN (MINDEF)</option>
            <option value="KEMENTERIAN KERJA RAYA (KKR)" data-calc="">KEMENTERIAN KERJA RAYA (KKR)</option>
            <option value="KEMENTERIAN DALAM NEGERI (KDN)" data-calc="">KEMENTERIAN DALAM NEGERI (KDN)</option>
            <option value="KEMENTERIAN PERDAGANGAN ANTARABANGSA DAN INDUSTRI (MITI)" data-calc="">KEMENTERIAN PERDAGANGAN ANTARABANGSA DAN INDUSTRI (MITI)</option>
            <option value="KEMENTERIAN PENDIDIKAN TINGGI (KPT)" data-calc="">KEMENTERIAN PENDIDIKAN TINGGI (KPT)</option>
            <option value="KEMENTERIAN SAINS, TEKNOLOGI DAN INOVASI (MOSTI)" data-calc="">KEMENTERIAN SAINS, TEKNOLOGI DAN INOVASI (MOSTI)</option>
            <option value="KEMENTERIAN PEMBANGUNAN WANITA, KELUARGA DAN MASYARAKAT (KPWKM)" data-calc="">KEMENTERIAN PEMBANGUNAN WANITA, KELUARGA DAN MASYARAKAT (KPWKM)</option>
            <option value="KEMENTERIAN PERDAGANGAN DALAM NEGERI DAN KOS SARA HIDUP (KPDN)" data-calc="">KEMENTERIAN PERDAGANGAN DALAM NEGERI DAN KOS SARA HIDUP (KPDN)</option>
            <option value="KEMENTERIAN SUMBER ASLI, ALAM SEKITAR DAN PERUBAHAN IKLIM (NRECC)" data-calc="">KEMENTERIAN SUMBER ASLI, ALAM SEKITAR DAN PERUBAHAN IKLIM (NRECC)</option>
            <option value="KEMENTERIAN PEMBANGUNAN USAHAWAN DAN KOPERASI (KUSKOP)" data-calc="">KEMENTERIAN PEMBANGUNAN USAHAWAN DAN KOPERASI (KUSKOP)</option>
            <option value="KEMENTERIAN LUAR NEGERI (KLN)" data-calc="">KEMENTERIAN LUAR NEGERI (KLN)</option>
            <option value="KEMENTERIAN PELANCONGAN, SENI DAN BUDAYA (MOTAC)" data-calc="">KEMENTERIAN PELANCONGAN, SENI DAN BUDAYA (MOTAC)</option>
            <option value="KEMENTERIAN PENDIDIKAN MALAYSIA (KPM)" data-calc="">KEMENTERIAN PENDIDIKAN MALAYSIA (KPM)</option>
            <option value="KEMENTERIAN PERPADUAN NEGARA (KPN)" data-calc="">KEMENTERIAN PERPADUAN NEGARA (KPN)</option>
            <option value="KEMENTERIAN BELIA DAN SUKAN (KBS)" data-calc="">KEMENTERIAN BELIA DAN SUKAN (KBS)</option>
            <option value="KEMENTERIAN SUMBER MANUSIA (KSM)" data-calc="">KEMENTERIAN SUMBER MANUSIA (KSM)</option>
            <option value="KEMENTERIAN KESIHATAN MALAYSIA (KKM)" data-calc="">KEMENTERIAN KESIHATAN MALAYSIA (KKM)</option>
            <!-- Add dynamic options here -->
            {% for customer in customers %}
                <option value="{{ customer }}">{{ customer }}</option>
            {% endfor %}
        </datalist><br>
    
        <label for="chassisType">Buatan Chassis:</label>
        <input type="text" id="chassisType" name="chassisType" list="chassisList" placeholder="Masukkan atau Pilih Buatan Chassis..." required>
        <datalist id="chassisList">
            <!-- Add dynamic options here -->
            <option value="FOTON" data-calc="">FOTON</option>
            <option value="FORD" data-calc="">FORD</option>
            <option value="HINO" data-calc="">HINO</option>
            <option value="ISUZU" data-calc="">ISUZU</option>
            <option value="MAN" data-calc="">MAN</option>
            <option value="MAXUS" data-calc="">MAXUS</option>
            <option value="MITSUBISHI" data-calc="">MITSUBISHI</option>
            <option value="MODENAS" data-calc="">MODENAS</option>
            <option value="NISSAN" data-calc="">NISSAN</option>
            <option value="PROTON" data-calc="">PROTON</option>
            <option value="SCANIA" data-calc="">SCANIA</option>
            <option value="TATRA" data-calc="">TATRA</option>
            <option value="TOYOTA" data-calc="">TOYOTA</option>
            <option value="VAMTAC" data-calc="">VAMTAC</option>
            <option value="YAMAHA" data-calc="">YAMAHA</option>
            {% for chassis_type in chassis_types %}
                <option value="{{ chassis_type }}">{{ chassis_type }}</option>
            {% endfor %}
        </datalist><br>
    
        <label for="chassisModel">Model Chassis</label>
        <input type="text" id="chassisModel" name="chassisModel" placeholder="Masukkan Model Chassis...">
    
        <label for="quantity">Kuantiti</label>
        <input type="number" id="quantity" name="quantity" min="1" placeholder="Kuantiti..." required>
    
        <label for="tenderDate">Tarikh Tender/ Sebut Harga</label>
        <input type="date" id="tenderDate" name="tenderDate" placeholder="Tariikh Tender..." required>
    
        <label for="unitPrice">Harga Per Unit</label>
        <input type="number" step="0.01" id="unitPrice" name="unitPrice" placeholder="Harga Per Unit..." required>
    
        <label for="tenderTotalPrice">Harga Total Tender</label>
        <input type="number" step="0.01" id="tenderTotalPrice" name="tenderTotalPrice" placeholder="Harga Tender..." readonly required>
    
        <label for="unitProfit">Untung Per Unit</label>
        <input type="number" step="0.01" id="unitProfit" name="unitProfit" placeholder="Untung Per Unit..." required>
    
        <label for="tenderTotalProfit">Keuntungan Total Tender</label>
        <input type="number" step="0.01" id="tenderTotalProfit" name="tenderTotalProfit" placeholder="Keuntungan Tender..." readonly required>
    
        <label for="marginProfit">Margin Keuntungan (%)</label>
        <input type="number" step="0.01" id="marginProfit" name="marginProfit" placeholder="Margin Keuntungan..." readonly required>
    
        <label for="notes">Status</label>
        <select id="notes" name="notes" required>
            <option value="" disabled selected>Pilih Status...</option>
            <option value="Berjaya">Berjaya</option>
            <option value="Gagal">Gagal</option>
            <option value="Dalam Pertimbangan">Dalam Pertimbangan</option>
        </select>        

        <label for="staffID">Staff ID: </label>
        <input type="text" id="staffID" name="staffID" value="{{ session['staff_id'] }}" readonly>  

        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        function calculateTotals() {
            let quantity = document.getElementById("quantity").value;
            let unitPrice = document.getElementById("unitPrice").value;
            let unitProfit = document.getElementById("unitProfit").value;
            
            let tenderTotalPrice = (quantity * unitPrice).toFixed(2);
            document.getElementById("tenderTotalPrice").value = tenderTotalPrice;
            
            let tenderTotalProfit = (quantity * unitProfit).toFixed(2);
            document.getElementById("tenderTotalProfit").value = tenderTotalProfit;
            
            let marginProfit = ((unitProfit / unitPrice) * 100).toFixed(2);
            document.getElementById("marginProfit").value = marginProfit;
        }
        
        document.getElementById("quantity").addEventListener("input", calculateTotals);
        document.getElementById("unitPrice").addEventListener("input", calculateTotals);
        document.getElementById("unitProfit").addEventListener("input", calculateTotals);
    });

    document.querySelector("form").addEventListener("submit", function(event) {
    var notes = document.getElementById("notes").value;
    if (notes === "") {
        alert("Sila pilih satu catatan.");
        event.preventDefault(); // Prevent form submission
    } else {
        if (!confirm("Adakah anda pasti untuk  menambah rekod Jualan & Pemasaran?")) {
            event.preventDefault(); // Prevent form submission if cancel
        }
    }
});

</script>
</html>
