<!-- sales_markleting_home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Halaman Utama</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include Chart.js from CDN -->
</head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li class="{% if request.endpoint == 'select_page' %}active{% endif %}">
                <a href="{{ url_for('select_page') }}">
                    <i class="fas fa-arrow-left"></i> Halaman Utama
                </a>
            </li>
            <li class="{% if request.endpoint == 'sales_marketing_home' %}active{% endif %}">
                <a href="{{ url_for('sales_marketing_home') }}">
                    <i class="fas fa-home"></i> Jualan & Pemasaran
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_sales_form' %}active{% endif %}">
                <a href="{{ url_for('show_sales_form') }}">
                    <i class="fas fa-file-alt"></i> Borang Jualan & Pemasaran
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_sales_list' %}active{% endif %}">
                <a href="{{ url_for('show_sales_list') }}">
                    <i class="fas fa-list"></i> Senarai Jualan & Pemasaran
                </a>
            </li>
        </ul>
    </nav>
    <header role="banner">
        <h2>Aktiviti Jualan dan Pemasaran</h2>
    </header>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Dashboard Section -->
    <main class="dashboard">
        <!-- Toggle button -->
        <section id="overall-metrics" class="dashboard-section">
            <h3>Keseluruhan Jualan & Pemasaran</h3>
            <button id="toggleValuesButton" onclick="toggleValues()">Lihat/Tutup Jumlah</button><br><br>

            <div class="grid-container">
                <div class="metric-box">
                    <p>Jumlah Keseluruhan Tender/Sebut Harga:</p>
                    <p class="metric-value overall-sales-value">
                        RM <span class="sales-value actual-value hidden">{{ overall_sales | format_rm_currency }}</span>
                        <span class="hidden">******</span>
                    </p>
                </div>
                <div class="metric-box">
                    <p>Jumlah Keseluruhan Keuntungan:</p>
                    <p class="metric-value overall-profit-value">
                        RM <span class="profit-value actual-value hidden">{{ overall_profit | format_rm_currency }}</span>
                        <span class="hidden">******</span>
                    </p>
                </div>             
                <div class="metric-box">
                    <p>Jumlah Keseluruhan Kuantiti:</p>
                    <p class="metric-value">{{ overall_quantity }}</p>
                </div>
                <div class="metric-box">
                    <p>Margin Keuntungan:</p>
                    <p class="metric-value">{{ overall_margin_profit | round(2) }}%</p>
                </div>
            </div>
        </section>

        <section class="chart-container dashboard-section">
            <!-- Chart Canvas -->
            <canvas id="sales-chart"></canvas>
        </section>

        <section id="overall-metrics" class="dashboard-section">
            <h3>Data Jualan & Pemasaran</h3>
                <table>
                    <thead>
                        <tr>
                            <th class="table-left-align">PIC/Jabatan</th>
                            <th class="table-right-align">Jumlah Jualan (RM)</th>
                            <th class="table-right-align">Jumlah Keuntungan (RM)</th>
                            <th class="table-center-align">Jumlah Kuantiti</th>
                            <th class="table-right-align">Margin Keuntungan (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in sales_data %}
                            <tr>
                                <td class="table-left-align">{{ item.salesPerson }}</td>
                                <td class="table-right-align">{{ item.total_sales| format_rm_currency }}</td>
                                <td class="table-right-align">{{ item.total_profit| format_rm_currency }}</td>
                                <td class="table-center-align">{{ item.total_quantity }}</td>
                                <td class="table-right-align">{{ item.margin_profit|round(2) }}</td>
                            </tr>
                        {% endfor %}
                        <!-- New row for overall totals -->
                        <tr class="overall-total">
                            <td class="table-left-align"><strong>Jumlah Keseluruhan</strong></td>
                            <td class="table-right-align"><strong>{{ overall_sales| format_rm_currency }}</strong></td>
                            <td class="table-right-align"><strong>{{ overall_profit| format_rm_currency }}</strong></td>
                            <td class="table-center-align"><strong>{{ overall_quantity }}</strong></td>
                            <td class="table-right-align"><strong>{{ overall_margin_profit|round(2) }}%</strong></td>
                        </tr>
                    </tbody>
                </table>
        </section>
    </main>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        toggleValues(); // Call toggleValues to hide values on page load

        function toggleValues() {
            var salesElements = document.querySelectorAll('.overall-sales-value .actual-value');
            var profitElements = document.querySelectorAll('.overall-profit-value .actual-value');

            // Initially hide the elements
            salesElements.forEach(function(element) {
                element.classList.add('hidden');
            });

            profitElements.forEach(function(element) {
                element.classList.add('hidden');
            });

            // Toggle visibility on button click
            document.getElementById('toggleValuesButton').addEventListener('click', function() {
                salesElements.forEach(function(element) {
                    element.classList.toggle('hidden');
                });

                profitElements.forEach(function(element) {
                    element.classList.toggle('hidden');
                });
            });
        }

        // Chart.js initialization code remains the same as you have
        var salesData = [];
        var profitData = [];
        var marginProfitData = [];
        var salesPersons = [];

        {% for item in sales_data %}
            salesData.push({{ item.total_sales }});
            profitData.push({{ item.total_profit }});
            marginProfitData.push({{ item.margin_profit|round(2) }});
            salesPersons.push('{{ item.salesPerson }}');
        {% endfor %}

        var ctx = document.getElementById('sales-chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: salesPersons,
                datasets: [{
                    type: 'line',
                    label: 'Margin Keuntungan (%)',
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 0.6)',
                    borderWidth: 2,
                    yAxisID: 'y1',
                    data: marginProfitData
                }, {
                    type: 'bar',
                    label: 'Jumlah Jualan (RM)',
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1,
                    yAxisID: 'y2',
                    data: salesData
                }, {
                    type: 'bar',
                    label: 'Jumlah Keuntungan (RM)',
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    yAxisID: 'y2',
                    data: profitData
                }]
            },
            options: {
                scales: {
                    y1: {
                        type: 'linear',
                        position: 'right',
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Margin Keuntungan (%)'
                        }
                    },
                    y2: {
                        type: 'linear',
                        position: 'left',
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Jumlah (RM)'
                        },
                        grid: {
                            drawOnChartArea: false
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        labels: {
                            color: 'black'
                        }
                    }
                }
            }
        });
    });
</script>
</html>

