<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Komited Sdn Bhd</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <img src="../static/images/wgk1.png" alt="Logo Global Komited Sdn Bhd" class="logo">

    <h1>Welcome</h1>
    <p>Please select a page to visit:</p>
    <nav>
        <ul>
            <li><a href="{{ url_for('aftersales_home') }}">Aftersales Home</a></li>
            <li><a href="{{ url_for('sales_marketing_home') }}">Sales & Marketing Home</a></li>
            <li><a href="{{ url_for('show_staff_profile') }}">Profil</a></li>
            <li><a href="#" onclick="confirmLogout()">Log Keluar</a></li>
        </ul>
    </nav>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
<script>
    function confirmLogout() {
        if (confirm("Adakah anda pasti ingin log keluar?")) {
            window.location.href = "{{ url_for('logout') }}";
        }
    }
</script>
</html>
