<!-- viewonly_job_management.html -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pengurusan Tugas</title>
        <link rel="stylesheet" href="../static/styles/styles.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script src="../static/scripts/filter_job.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
<body>
    <!-- Navigation -->
    <nav>
        <ul>
            <li class="{% if request.endpoint == 'select_page' %}active{% endif %}">
                <a href="{{ url_for('select_page') }}">
                    <i class="fas fa-arrow-left"></i> Halaman Utama
                </a>
            </li>
            <li class="{% if request.endpoint == 'aftersales_home' %}active{% endif %}">
                <a href="{{ url_for('aftersales_home') }}">
                    <i class="fas fa-home"></i> Projek Keseluruhan
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_job_management' %}active{% endif %}">
                <a href="{{ url_for('show_job_management') }}">
                    <i class="fas fa-tasks"></i> Senarai Rekod Jualan
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_job_form' %}active{% endif %}">
                <a href="{{ url_for('show_job_form') }}">
                    <i class="fas fa-clipboard-list"></i> Butiran Rekod Jualan
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_aftersales_management' %}active{% endif %}">
                <a href="{{ url_for('show_aftersales_management') }}">
                    <i class="fas fa-tools"></i> Senarai Rekod Aftersales
                </a>
            </li>
            <li class="{% if request.endpoint == 'show_aftersales_form' %}active{% endif %}">
                <a href="{{ url_for('show_aftersales_form') }}">
                    <i class="fas fa-file-alt"></i> Butiran Rekod Aftersales
                </a>
            </li>
        </ul>
    </nav>
    <header role="banner">
        <h2>Rekod Jualan</h2>
    </header>
    <p>Halaman ini adalah untuk paparan sahaja. Sila dapatkan kebenaran untuk membuat sebarang pengubahsuaian.</p>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <button onclick="exportToExcel()">Muat Turun Rekod Tugas</button><br><br>
    <div class="table-container">
        <!-- Display existing Job records -->
        <table id="jobTable">
            <thead>
                <tr>
                    <th>#</th> <!-- Count column -->
                    <th class="jobNo">Job No</th>
                    <th class="title">Tajuk</th>
                    <th class="custName">Nama Pelanggan</th>
                    <th class="vehicleType">Jenis Kenderaan</th>
                    <th class="quantity">Kuantiti</th>
                    <th class="dateReceived">Tarikh SST</th>
                    <th class="salesUnit">Jualan(RM) /Unit</th>
                    <th class="totalSales">Jumlah Jualan(RM)</th>
                    <th class="profitUnit">Untung(RM) /Unit</th>
                    <th class="totalProfit">Jumlah Untung(RM)</th>
                    <th class="marginProfit">Margin Keuntungan(%)</th>
                    <th class="jobDateDelivered">Tarikh Penghantaran</th>
                    <th class="staffID">Staff ID</th>
                </tr>
            </thead>
            <tbody>
                {% for job in job_data %}
                <tr>
                    <td class="table-right-align">{{ loop.index }}</td>
                    <td class="table-right-align">{{ job.jobNo }}</td>
                    <td class="table-left-align">{{ job.title }}</td>
                    <td class="table-left-align">{{ job.custName }}</td>
                    <td class="table-left-align">{{ job.vehicleType }}</td>
                    <td class="table-center-align">{{ '%.1f'|format(job.quantity) }}</td>
                    <td class="table-right-align">{{ job.dateReceived }}</td>
                    <td class="table-right-align">{{ job.salesUnit| format_rm_currency }}</td>
                    <td class="table-right-align">{{ job.totalSales| format_rm_currency }}</td>
                    <td class="table-right-align">{{ job.profitUnit| format_rm_currency }}</td>
                    <td class="table-right-align">{{ job.totalProfit| format_rm_currency }}</td>
                    <td class="table-center-align">{{ job.marginProfit }}</td>
                    <td class="table-right-align">{{ job.jobDateDelivered }}</td>
                    <td class="table-center-align">{{ job.staffID }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<!-- JavaScript function to confirm deletion -->
<script>
    function exportToExcel() {
            const table = document.getElementById('jobTable');
            const ws = XLSX.utils.table_to_sheet(table);
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, 'job_data.xlsx');
        }

        $(document).ready(function() {
            $('#jobTable').DataTable({
                "paging": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                "columnDefs": [
                    { "targets": [0], "orderable": false }, // Disable ordering on the first column
                    { "type": "num", "targets": 1 } // Ensure numerical sorting for 'jobNo' column
                ],
                "rowCallback": function(row, data, index) {
                    $('td:eq(0)', row).html(index + 1); // Re-order the row numbering
                }
            });
        });


        function displayFlashMessage(message, category) {
            const flashMessages = document.querySelector('.flash-messages');
            const newMessage = document.createElement('div');
            newMessage.className = `flash-${category}`;
            newMessage.textContent = message;
            flashMessages.appendChild(newMessage);

            // Automatically remove the flash message after 2 seconds
            setTimeout(() => {
                newMessage.remove();
            }, 2000);
        }
</script>
</html>
